@import "tailwindcss";
:root {
  --Primary-Army-Black: #221f20;
  --Primary-Army-Black-Light: #2c292a;
  --Army-White: #fff;
  --Medium-Grey: #bcbcbc;
  --Army-Gold: #ffcc01;
  --Army-Tan: #f1e4c7;
  --Army-Tan-Light: #fcf6eb;
  --Army-Green: #2f372f;
  --background: var(--Primary-Army-Black-Light);
}

/* Allows for inline tailwind variables */
@theme {
  --color-army-gold: var(--Army-Gold);
  --color-primary-army-black: var(--Primary-Army-Black);
  --color-primary-army-black-light: var(--Primary-Army-Black-Light);
  --color-army-white: var(--Army-White);
  --color-medium-grey: var(--Medium-Grey);
  --color-army-tan: var(--Army-Tan);
  --color-army-tan-light: var(--Army-Tan-Light);
  --color-army-green: var(--Army-Green);
  --color-background: var(--Primary-Army-Black);
}

@font-face {
  font-family: "Army-GI";
  src: url("../assets/fonts/G.I.-400.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Army-GI";
  src: url("../assets/fonts/G.I.-400Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Army-GI";
  src: url("../assets/fonts/G.I.-530.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Army-GI";
  src: url("../assets/fonts/G.I.-530Italic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Army-GI";
  src: url("../assets/fonts/G.I.-750.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Army-GI";
  src: url("../assets/fonts/G.I.-750Italic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

body {
  background: var(--background);
  color: var(--Army-White);
  font-family: "Army-GI", Arial, Helvetica, sans-serif;
  @media (max-width: 450px) {
    background: var(--Primary-Army-Black);
  }
}

p {
  color: var(--color-army-tan-light);
}

/* Phone Wrapper */

@media (min-width: 450px) {
  .phone-wrapper {
    border: 5px solid var(--color-army-tan-light);
    border-radius: 40px;
    height: 80vh;
    overflow: scroll;
    scroll-bar: hidden;
    scrollbar-width: 0px;
    scrollbar-width: none;
    max-height: 800px; /* Prevents Phone Wrapper from getting to big. */
    max-width: 375px;
    margin-inline: auto;
    overflow-x: hidden;
    /* margin-top: 56px; // Use if Walkthrough and Phone Wrapper is not aligned in center of screen. */
  }
}

/* Animations */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  animation: spin 3s linear infinite;
}

.spinner-slow {
  animation: spin 10s linear infinite;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

.fade {
  animation: fadeIn 1s ease-out forwards;
}
